@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*>* {
    font-family: "Poppins", cursive;
}


body {
    --text-light: rgba(243, 244, 246, 0.9);
    --primary-dark: rgba(55, 65, 81, 1);
    --secondary-dark: rgba(55, 65, 81, 0.7);
    --bg-btn: rgba(67, 56, 202, 0.8);
    --bg-light: rgba(28, 35, 51);
    --text-light: rgba(14, 21, 37);
    --primary-dark: rgba(243, 244, 246, 1);
    --secondary-dark: rgba(255, 255, 255);

    background-color: var(--text-light);
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

p {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.text-center {
    text-align: center;
    padding: 10px 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 1000px));
    row-gap: 2em;
    column-gap: 3em;
    margin: 3em 0;

}

.grid .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0;
}

.grid .icon>span {
    font-size: 4em;
    color: var(--bg-btn);
}

.primary-dark {
    color: var(--primary-dark);
}

.secondary-dark {
    color: var(--secondary-dark);
    padding: 20px 30px;
}

.bg-light {
    background-color: var(--bg-light);
    box-shadow: 1px 5px 20px rgba(55, 65, 81, 0.1);
    border-radius: 20px;
}

footer {
    text-align: center;
    padding: 30px;
    width: 1700px;
    background-color: #111111;
    color: white;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 50px;
    outline: none;

    background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
    background-size: cover;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: var(--primary-dark);
    border-radius: 50px;
}

input[type="checkbox"]:checked:before {
    transform: translate(100%);
}

input[type="checkbox"]:checked {
    background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
}

footer {
    border-radius: 20px
}

button {
    border-radius: 50px
}

/* width */
/* set the width of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
/* set the color of the scrollbar and the radius of its corners */
::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* Handle on hover */
/* set the color of the scrollbar when hovered over */
::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 131, 131);
}

/* Handle on active */
/* set the color of the scrollbar when clicked */
::-webkit-scrollbar-thumb:active {
    background: rgb(104, 104, 104);
}

/* Hide the horizontal scroll bar */
::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
}

.alert {
    padding: 17px;
    background-color: #af0c00;
    border-radius: 17px;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5)
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5)
}

#redirect-button {
    justify-content: center;
    display: flex;
}